.card__cleaner{
background: url(../../../images/whyUhookMeTrashWhyyy.svg) center no-repeat;
background-size: 100%;
width: 18px;
height: 19px;
position: absolute;
top: 20px;
right: 20px;
border: none;
margin: 0;
padding: 0;
cursor: pointer;

}
.card__cleaner:hover{
opacity: 0.6;
}