.profile {
    padding: 0 20px;
    display: grid;
    margin: auto;
    max-width: 880px;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: min-content 1fr;

}

@media screen and (max-width:630px) {

  .profile{

    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;}


}