.profile__status {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-column: span 2;
}

@media screen and (max-width:780px) {
    .profile__status {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

    }
}

@media screen and (max-width:550px) {

    .profile__status {
        max-width: 262px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

    }


}