.header {
    padding: 45px 20px 41px;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    max-width: 880px;
}

@media screen and (max-width:520px) {
    .header {
        padding: 28px 27px 31px;

    }

}