.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width:780px) {
    .copyright {
        font-size: 14px;
        line-height: 17px;
    }
}