.profile__add {
    cursor: pointer;
    align-self: center;
    justify-self: end;
    min-width: 150px;
    min-height: 50px;
    grid-row: span 2;
    margin: 0;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    border: 2px solid white;
    padding: 0;
}

.profile__add:hover {
    opacity: 0.6;

}

@media screen and (max-width:780px) {
    .profile__add {
        margin-top: 36px;
        min-width: 100%;

    }
}