.profile__add {
    cursor: pointer;
    align-self: center;
    justify-self: end;
    min-width: 150px;
    min-height: 50px;
    grid-row: span 2;
    margin: 0;
    border-radius: 2px;
}
.profile__add:hover{
opacity: 0.6;

}

@media screen and (max-width:630px) {
    .profile__add {
        margin-top: 36px;
        min-width: 100%;

    }
}