@import url(../vendor/vendor.css);
@import url(../fonts/stylesheet.css);
/* head */
@import url(../blocks/header/header.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__pic/profile__pic.css);
@import url(../blocks/profile/__redactor/profile__redactor.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/profile/__redactor-img/profile__redactor-img.css);
/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__text/card__text.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/copyright/copyright.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__close/popup__close.css);
/* button */
@import url(../blocks/button/button.css);


.page {
    color: white;
    margin: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    position: relative;
}

