.profile__info {
    margin-left: 30px;
    align-self: center;
    display: grid;
   
    grid-template-columns: max-content min-content;
    grid-template-rows: repeat(2 , min-content);
    gap: 16px 18px;
    align-items: end;
}

@media screen and (max-width:550px) {
    .profile__info {
       
        margin: 0;
        gap: 14px 10px;
        justify-self: center;
        margin-top: 26px;
    }
}

