.footer {
    max-width: 880px;
    margin: auto;
    padding: 67px 0 20px;
    color: #545454;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}