.profile__redactor {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    align-self: center;
    background: none;
    border: 1px solid white;
}

.profile__redactor:hover {
    opacity: 0.6;

}

@media screen and (max-width:550px) {

    .profile__redactor {

        width: 18px;
        height: 18px;
    }
}