.profile__redactor {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    align-self: center;
}

@media screen and (max-width:550px) {

    .profile__redactor {

        width: 18px;
        height: 18px;
    }
}